
<% include partials/navigations.ejs %>
<h1>LOGIN</h1>
<form>
    <input type="text" name="" value="" placeholder="ingrese nombre">
    <input type="text" name="" value="" placeholder="ingrese contraseña">
    <button type="button">ingresar</button>

</form>
